extends layout

block content
  h1= title
  p Hello, This is <b>Nithin Reddy Kumbham</b> and welcome to #{title}
  button(type="button",  onclick='update()', class="btn btn-success") Press Me 
  br
  br
  br
  div(id="target") Display

  script.
     client_count = 0;
     //console.log("hello");
     function update()
     {
       document.getElementById("target").innerHTML = "Number of clicks is : " + ++client_count
     }
  //- Money 
  //-   type = "US Dollar";
  //-   country = "United states";
  //-   value = 1;
  //- Nespresso 
  //-   type = "Coffee";
  //-   country = "United Kingdom";
  //-   value = 15;
//- First you are going to decide on a class of resource.  Use the last digit of your ID to 
//- determine the initial letter you will use.  You will determine a class of items where 
//- the initial letter of the class is determined by the table.  There should be multiple 
//- instances possible for the class. The class should have at least three attributes 
//- including a number and a string.  As an example, if 8 is my last digit I can select as 
//- my class Costumes with attributes costume_type (string), size (string), and cost 
//- (number).  You can use at most one of the attributes I used.  Be different. (Avoid 
//- using “type” as the name of an attribute as that may cause problems later.) 
//- 2) Record the class and the attributes/types in your README. 
//- 3) Add, Commit and Push to origin main. 
//- 4) Make a copy of index.pug and rename it to be whatever class you chose. 
//- 5) Remove everything after the header. 
//- 6) Make a copy of index.js and rename it to correspond to the class. 
//- 7) Modify it to render the correct pug.  Change the title to “Search Results” followed by 
//- your class. 
//- 8) Inside the app.js add in an endpoint to correspond to the class. 
//- 9) Restart the local heroku server and verify that the new endpoint works. 
//- 10) Add, Commit and Push to origin main. M, N 